/* .result {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 120%;
  bottom: 2%;
  font-family: "doodle";
}

.first {
  position: absolute;
  width: 500px;
  height: 50px;
  background: linear-gradient(180deg, #bebfd7 0%, rgba(118, 122, 228, 0) 100%);
  color: white;
  bottom: 65%;
  left: 30%;
}
.first > h1 {
  position: absolute;
  right: 55%;
  align-items: center;
}
.second {
  position: absolute;
  width: 500px;
  height: 50px;
  background: linear-gradient(180deg, #bebfd7 0%, rgba(118, 122, 228, 0) 100%);
  color: white;
  bottom: 50%;
  left: 30%;
}
.second > h1 {
  position: absolute;
  right: 55%;
  align-items: center;
}
.third {
  position: absolute;
  width: 500px;
  height: 50px;
  background: linear-gradient(180deg, #bebfd7 0%, rgba(118, 122, 228, 0) 100%);
  color: white;
  bottom: 35%;
  left: 30%;
}
.third > h1 {
  position: absolute;
  right: 55%;
  align-items: center;
}
.resultbook {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10%;
}
.remote {
  position: absolute;
  height: 84%;
  width: 60%;
  top: 15%;
  left: 60%;
  z-index: 5;
}
.homeicon {
  position: absolute;
  z-index: 6;
  height: 40px;
  width: 40px;
  left: 5%;
  top: 22.55%;
  cursor: pointer;
  color: white;
}
.again {
  position: absolute;
  z-index: 6;
  height: 35px;
  width: 80px;
  left: 90%;
  top: 20%;
  padding: 25px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: x-large;
} */
