.result {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 120%;
  bottom: 2%;
  font-family: "doodle";
}

.first {
  position: absolute;
  width: 300px;
  height: 320px;
  background: rgba(255, 255, 255, 0.4);
  color: black;
  top: 35%;
  left: 40%;
  border-radius: 50px;
  overflow-y: scroll;
}
.first > h1 {
  position: relative;
  left: 25%;
  top: 15%;
  z-index: 6;
  align-items: center;
}

.resultbook {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10%;
}
.remote {
  position: absolute;
  height: 84%;
  width: 60%;
  top: 15%;
  left: 60%;
  z-index: 5;
}
.homeicon {
  position: absolute;
  z-index: 6;
  height: 40px;
  width: 40px;
  left: 5%;
  top: 22.55%;
  cursor: pointer;
  color: white;
}
.again {
  position: absolute;
  z-index: 6;
  height: 35px;
  width: 80px;
  left: 90%;
  top: 20%;
  padding: 25px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
.first {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.first::-webkit-scrollbar {
  display: none;
}
.title {
  position: absolute;
  color: white;
  top: 22%;
  left: 40%;
  font-size: 50px;
  font-weight: bold;
  z-index: 5;
}
.points {
  color: red;
  padding-left: 15px;
}
.relative {
  position: relative;
  display: flex;
}
