.d {
  /* Begin The Redundancies */
  background-image: -webkit-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -webkit-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-image: -moz-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -moz-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-image: -o-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -o-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-image: -ms-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -ms-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  -webkit-background-size: 100% 2em;
  -moz-background-size: 100% 2em;

  /* In a perfect world... */
  background-image: linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-size: 100% 2em;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "coo";
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 100%;
  position: fixed;
  margin-left: 14%;
}

@font-face {
  font-family: "doodle";
  src: url("../../IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "coo";
  src: url("../../IndieFlower-Regular.ttf");
}
.question {
  margin-left: 15%;
  font-weight: bold;
  font-size: 32px;
  margin-right: 18%;
  margin-top: 3.5%;
}
.question > h6 {
  position: absolute;
  left: 84%;
  top: 0.5%;
}
.form-check {
  padding-bottom: 15px;
}
.form-check:hover {
  background: linear-gradient(
    180deg,
    rgba(181, 234, 234, 0.7) 0%,
    rgba(181, 234, 234, 0.7) 100%
  );
  font-weight: bold;
  width: 18vw;
  color: #a6a6a4;
  border-radius: 5px;
}
.choice {
  margin-left: 1em;
}
.form-check-input {
  height: 20px;
  width: 20px;
}
input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  position: relative;
  background-color: #a6a6a4;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid black;
}
.waiting {
  font-family: "doodle";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 90%;
}
.deadpool {
  position: absolute;
  left: 65%;
  height: 25%;
  width: 25%;
  top: 18%;
  animation: deadpool 6s linear infinite both;
}
@keyframes deadpool {
  0% {
    transform: translateX(-35%);
  }
  50% {
    transform: translateY(25%);
  }
  100% {
    transform: translateX(35%);
  }
  50% {
    transform: translateY(-25%);
  }
  0% {
    transform: translateX(35%);
  }
}

.bepatient {
  position: absolute;
  top: 45%;
  left: 62%;
  font-size: 50px;
  font-weight: bold;
}
.usernameP {
  left: 33%;
  font-size: xx-large;
  font-weight: bolder;
}
.parap {
  position: absolute;
  left: 16%;
  font-size: xx-large;
  top: 25%;
  font-weight: bold;
}
.wfop {
  position: absolute;
  top: 60%;
  left: 66%;
  font-size: xx-large;
}
.runningbook {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 113%;
}
.scroll {
  position: absolute;
  overflow-y: auto;
  width: 15%;
  height: 600px;
  left: 33%;
  top: 32%;
}
.aya {
  position: absolute;
  font-family: "doodle";
  font-weight: bold;
  font-size: 25px;
  top: 5%;
  left: 2%;
  overflow-y: auto;
}
.aya1 {
  font-size: 35px;
  padding-bottom: 9%;
}
