.d {
  /* Begin The Redundancies */
  background-image: -webkit-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -webkit-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-image: -moz-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -moz-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-image: -o-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -o-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-image: -ms-linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    -ms-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  -webkit-background-size: 100% 2em;
  -moz-background-size: 100% 2em;

  /* In a perfect world... */
  background-image: linear-gradient(
      0deg,
      transparent 5em,
      rgba(255, 0, 0, 0.2) 0,
      transparent 5.1em
    ),
    linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
  background-size: 100% 2em;
  position: absolute;
  width: 100%;
  /* height: auto; */
  height: 100%;
  font-family: "kb3candystripesmedium";
}
@font-face {
  font-family: "kb3candystripesmedium";
  src: url("../../kb3candystripes-webfont.woff2") format("woff2"),
    url("../../kb3candystripes-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.question {
  margin-left: 15%;
  font-weight: bold;
  font-size: 32px;
  margin-right: 10%;
  margin-top: 8.5%;
}
.question > h6 {
  position: absolute;
  left: 84%;
  top: 3%;
}
