body {
  background-image: url("../../images/username.png");
  /* height: 70%;
  width: 70%; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
background-size:cover;
background-repeat: no-repeat;


}
/* .usernameform {
  
} */
.left-div h1 {
  margin-left: 15%;
  margin-top: 30%;
  font-size:65px
}
.left-div input {
  margin-left: 45%;
  margin-top: 30%;
  font-size:65px
}